#bar {
  --primary: #103741;
  --background: #FFFFFF;
  --white: #fff;
}

#bar .center-div.col-10 {
  margin: auto;
  background: var(--background);
  color: var(--primary);
}

#bar .navbar {
  padding: calc(2.25vw * var(--bs-var)) calc(3.47vw * var(--bs-var));
}


#bar .navbar-brand {
  margin: 0;
  padding: 0;
}

#bar .image-item img {
  width: calc(8.5vw * var(--bs-var));
  height: calc(3.81vw * var(--bs-var));
}


#bar .navbar-toggler {
  color: #000000;
  border: 1px solid #F4F4F5;
  padding: calc(1.73vw * var(--bs-var));
}

#bar .navbar-toggler .fa-bars:before {
  width: calc(3.99vw * var(--bs-var));
  height: calc(2.77vw * var(--bs-var));
}


/* 以上手機 */


#bar .btnLogin {
  background: #EA6170;
  padding: 6px 10px;
  border-radius: 99px;
}

#bar .fa-user {
  border: 1px solid var(--white);
  color: var(--white) !important;
  border-radius: 99px;
  padding: 2px 3px;
  font-size: 10px;
}

#bar .login-text {
  font-size: 10px;
  font-weight: bold;
  color: var(--white) !important;
  letter-spacing: 2px;
}

#bar .nav-link {
  font-size: 12px;
  font-weight: bold;
  color: var(--primary);
}

#bar .nav-link.active {
  color: #57CCC3;
}



@media (min-width:576px) {/*平板*/

  #bar .navbar {
    padding: calc(1.69vw * var(--bs-var));
    padding-left: calc(4.42vw * var(--bs-var));
    padding-right: calc(2.64vw * var(--bs-var));
  }

  #bar .image-item img {/*平板logo大小*/
    width: calc(6.38vw * var(--bs-var));
    height: calc(2.86vw * var(--bs-var));
  }

  #bar .navbar-toggler {
    color: #000000;
    border: 1px solid #F4F4F5;
    padding: calc(1.30vw * var(--bs-var));
  }

  #bar .navbar-toggler .fa-bars:before {/*平板bar的最右邊三條線*/
    width: calc(2.99vw * var(--bs-var));
    height: calc(2.08vw * var(--bs-var));
  }

}

@media (min-width:768px) {/*電腦*/

  #bar .navbar {
    padding-left: calc(8.33vw * var(--bs-var));
    padding-right: calc(4.16vw * var(--bs-var));
  }

  #bar .image-item img {/*logo大小*/
    width: calc(4.08vw * var(--bs-var));
    height: calc(1.83vw * var(--bs-var));
  }

  #bar .btnLogin {
    background: #EA6170;
    padding: calc(1.33vw * var(--bs-var));
    padding-bottom: calc(1.08vw * var(--bs-var));
    border-radius: 99px;
    width: calc(9.33vw * var(--bs-var));
    height: calc(2.91vw * var(--bs-var));
  }

  #bar .fa-user {
    border: 1px solid var(--white);
    color: var(--white) !important;
    border-radius: 99px;
    font-size: calc(1.16vw * var(--bs-var));
  }

  #bar .login-text {
    font-size: calc(1.16vw * var(--bs-var));
    color: var(--white) !important;
  }

  #bar .nav-link {
    font-size: calc(1.33vw * var(--bs-var));
    color: var(--primary);
    padding: calc(1.75vw * var(--bs-var)) calc(1.16vw * var(--bs-var));
  }

}