#contact p {
  font-size: calc(2.08vw * var(--bs-var));
  text-align: left;
  color: #fff;
  margin-bottom: 0;
}

#contact .center-div.col-10 {
  padding: calc(8.68vw * var(--bs-var)) calc(1.8vw * var(--bs-var));
  ;
  background: #404040;
  color: #000;
}

#contact .container {
  padding: 0;
}

#contact .container .row>div {
  padding: calc(.8vw * var(--bs-var)) calc(3vw * var(--bs-var));

}

#contact .copy-right p {
  color: #88D8D1;
}

#contact hr {
  color: #88D8D1;
}

#contact .mlcolor {
  border-left: 1px solid #88D8D1;
}

/* 
#contact .tel-wrap {
  margin-bottom: calc(1vw * var(--bs-var));
} */

#contact .email-wrap {
  word-break: break-all;
  margin-top: calc(1.38vw * var(--bs-var));
}

#contact .contact-item {
  padding: calc(1.38vw * var(--bs-var));
}

@media (min-width: 576px){
  #contact p {
    font-size: calc(1.56vw * var(--bs-var));
  }
  #contact .center-div.col-10 {
    padding: calc(6.51vw * var(--bs-var)) calc(4.94vw * var(--bs-var));
  }
  #contact .contact-item {
    padding: calc(1.04vw * var(--bs-var)) calc(3.9vw * var(--bs-var));
  }
  #contact .email-wrap {
    margin-top: calc(1.3vw * var(--bs-var));
  }
}

@media (min-width: 768px){
  #contact p {
    font-size: calc(1vw * var(--bs-var));
  }
  #contact .center-div.col-10 {
    padding: calc(4.16vw * var(--bs-var)) calc(20.41vw * var(--bs-var));
  }
  #contact .col-md-4 .d-inline-block .mx-aut {
    padding: calc(0.66vw * var(--bs-var)) calc(2.5vw * var(--bs-var));
  }
  #contact .email-wrap {
    margin-top: calc(0.83vw * var(--bs-var));
  }
}