#method .center-div.col-10 {
  margin: auto;
  color: #505F98;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: calc(8.68vw * var(--bs-var)) calc(34.72vw * var(--bs-var));
}


#method .center-div.col-10 .title {
  width: calc(29.68vw * var(--bs-var));
  height: calc(12.84vw * var(--bs-var));
  margin: 0;
  padding-top: calc(2.5vw * var(--bs-var));
  background: center no-repeat url('../img/活動辦法.png');
  background-size: contain;
  font-size: calc(3.47vw * var(--bs-var));
}

#method .center-div.col-10 p {
  font-size: calc(3.47vw * var(--bs-var));

}