
#receive {
    .center-div.col-10 {
        max-width: 900px;
        margin: auto;
        color: #505F98;
        background: #fff
    }

    @media (max-width:991.98px) {
        .px-5 {
            padding-left: 16px !important;
            padding-right: 16px !important;
        }
    }
}
