#receive .center-div.col-10 {
  margin: auto;
  color: #505F98;
  background: #fff;
  padding: calc(8.68vw * var(--bs-var)) calc(5.20vw * var(--bs-var));
}

#receive .title>div {
  background: left no-repeat url('../img/活動時間.png') #fff;
  background-size: contain;
}

#receive .title .word p {
  color: #57CCC3;
  font-size: calc(4.86vw * var(--bs-var));
  font-weight: bold;
  text-align: left;
  margin: 0 0 calc(5.2vw * var(--bs-var)) calc(2.77vw * var(--bs-var));
  letter-spacing: 8px;
}

#receive .card {
  padding: calc(6.94vw * var(--bs-var));
  font-size: calc(2.77vw * var(--bs-var));
}

#receive .card p {
  margin-bottom: calc(2.77vw * var(--bs-var));
}

@media (min-width: 576px){
  #receive .center-div.col-10 {
    padding: calc(6.51vw * var(--bs-var)) calc(5.72vw * var(--bs-var));
  }

  #receive .title .word p {
    font-size: calc(3.64vw * var(--bs-var));
    margin: 0 0 calc(3.9vw * var(--bs-var)) calc(2.08vw * var(--bs-var));
  }

  #receive .card {
    padding: calc(6.51vw * var(--bs-var));
    font-size: calc(2.08vw * var(--bs-var));
  }
  
  #receive .card p {
    margin-bottom: calc(2.08vw * var(--bs-var));
  }
}