#winner .center-div.col-10 {
  margin: auto;
  background: #fff;
  color: #000000;
  padding: calc(8.68vw * var(--bs-var)) calc(3.99vw * var(--bs-var));
}


#winner .center-div.col-10 .title {
  width: calc(29.68vw * var(--bs-var));
  height: calc(12.84vw * var(--bs-var));
  margin: auto;
  margin-bottom: calc(3.82vw * var(--bs-var));
  padding-top: calc(2.5vw * var(--bs-var));
  background: center no-repeat url('../img/中獎名單.png');
  background-size: contain;
}

#winner .center-div.col-10 .title p {
  font-size: calc(3.47vw * var(--bs-var));
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
}


#winner .table.table-bordered {
  border-width: 0 !important;
}

#winner .table thead {
  border-width: 0 !important;
}

#winner .table thead tr th {
  border-width: 0 !important;
  background: #EA6170;
  font-weight: bold;
  color: #FFF;
  border-width: 0 !important;
}


#winner .table thead tr>:first-child {
  padding: calc(1.38vw * var(--bs-var)) calc(18.4vw * var(--bs-var));
}

#winner .table thead tr>:nth-child(2) {
  padding: calc(1.38vw * var(--bs-var)) calc(1.04vw * var(--bs-var));
}

#winner .table thead tr>:nth-child(3) {
  padding: calc(1.38vw * var(--bs-var)) calc(8.68vw * var(--bs-var));
}

#winner .table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}

#winner .table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}



#winner .table tbody {
  border-width: 0 !important;
}

#winner .table tbody tr {
  border-width: 0 !important;
  border-bottom: 2px solid #88D8D1 !important;
  background: #EFF2F7;
}

#winner .table tbody tr td {
  border-width: 0 !important;
  padding: calc(1.73vw * var(--bs-var));
}

#winner .table th,
#winner .table td {
  word-break: break-all;
  vertical-align: middle;
  font-size: calc(3.47vw * var(--bs-var));
}

@media (min-width: 576px){
  #winner .center-div.col-10 {
    padding: calc(6.51vw * var(--bs-var)) calc(5.72vw * var(--bs-var));
  }

  #winner .center-div.col-10 .title {
    width: calc(22.26vw * var(--bs-var));
    height: calc(9.63vw * var(--bs-var));
    margin-bottom: calc(5.2vw * var(--bs-var));
  }

  #winner .center-div.col-10 .title p {
    font-size: calc(2.60vw * var(--bs-var));
  }
  
  #winner .table thead tr>:first-child {
    padding: calc(1.04vw * var(--bs-var)) calc(16.27vw * var(--bs-var));
  }

  #winner .table thead tr>:nth-child(2) {
    padding: calc(1.04vw * var(--bs-var)) calc(3.12vw * var(--bs-var));
  }

  #winner .table thead tr>:nth-child(3) {
    padding: calc(1.04vw * var(--bs-var)) calc(11.58vw * var(--bs-var));
  }

  #winner .table tbody tr td {
    padding: calc(1.3vw * var(--bs-var));
  }

  #winner .table th,#winner .table td {
    word-break: break-all;
    vertical-align: middle;
    font-size: calc(2.6vw * var(--bs-var));
  }
}

@media (min-width: 576px){
  #winner .center-div.col-10 {
    padding: calc(4.16vw * var(--bs-var)) calc(12.5vw * var(--bs-var));
  }

  #winner .center-div.col-10 .title {
    width: calc(14.25vw * var(--bs-var));
    height: calc(6.16vw * var(--bs-var));
    margin-bottom: calc(3.33vw * var(--bs-var));
  }

  #winner .center-div.col-10 .title p {
    font-size: calc(1.66vw * var(--bs-var));
  }
  
  #winner .table thead tr>:first-child {
    padding: calc(0.83vw * var(--bs-var)) calc(10.83vw * var(--bs-var));
  }

  #winner .table thead tr>:nth-child(2) {
    padding: calc(0.83vw * var(--bs-var)) calc(9.16vw * var(--bs-var));
  }

  #winner .table thead tr>:nth-child(3) {
    padding: calc(0.83vw * var(--bs-var)) calc(9.16vw * var(--bs-var));
  }

  #winner .table tbody tr td {
    padding: calc(0.83vw * var(--bs-var));
  }

  #winner .table th,#winner .table td {
    word-break: break-all;
    vertical-align: middle;
    font-size: calc(1.66vw * var(--bs-var));
  }
}